body {
    background-color: white;
}

h1 {
    color: black;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}
div{
  padding: 10px;
  position: fixed;
  right: 40%;
  border-width: 2px;
  border-radius: 7px;
  width: 400px;
  top: 10%;
}
.divAdmin{
  padding: 10px;
  position: fixed;
  margin: auto;
  /*
right: 27.5%;
  */
  border-width: 2px;
  border-radius: 7px;
  width: 600px;
  top: 20%;
}
.divOpret{
  padding: 10px;
  position: fixed;
  right: 40%;
  border-width: 2px;
  border-radius: 7px;
  width: 400px;
  top: 20%;
}

tr:nth-of-type(even) {
 background-color:lightgrey;
}

.input{
  border-radius: 5px;
  float: right;
}

.active{
  background-color: darkorange;
}
