body {
    background-color: white;
}

h1 {
    color: black;
    text-align: center;
}

#buttons_div {
	display: inline-block;
	padding-bottom: 30px;
}

p {
    font-family: verdana;
    font-size: 20px;
}
.navigationbutton {
	color:blue; 
	margin-bottom: 10px;
	border-radius: 10px; 
	padding:2% 2%; 
	margin-right:50px; 
	font-size: 10px;
	
}

/*
div{
  padding: 10px;
  position: fixed;
  right: 40%;
  border-width: 2px;
  border-radius: 7px;
  width: 400px;
  top: 10%;
}
*/
.divAdmin{
  padding: 10px;
  position: fixed;
  margin: auto;
  /*
right: 27.5%;
  */
  border-width: 2px;
  border-radius: 7px;
  width: 600px;
  top: 20%;
}
.divOpret .divUpdate{
  padding: 10px;
  border-width: 2px;
  border-radius: 7px;
}

tr:nth-of-type(even) {
 background-color:lightgrey;
}

.input{
  border-radius: 5px;
  float: right;
}

.active{
  background-color: darkorange;
}